:root {
  --font-family: "Inter var", Arial, sans-serif;
  --emoji-font: "NotoEmoji", sans-serif;
  --primary-color: #f3f3f3;
  --shade: black;
  --secondary-color: color-mix(in srgb, var(--primary-color), var(--shade) 10%);
  --tertiary-color: color-mix(in srgb, var(--primary-color), var(--shade) 5%);
  --text-color: #373737;
  --link-color: #316dca;
  --border-radius: 10px;
  --border: 1px solid color-mix(in srgb, var(--primary-color), var(--shade) 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #373737;
    --shade: white;
    --text-color: #f3f3f3;
  }
}

@font-face {
  font-family: "NotoEmoji";
  src: url("../fonts/NotoColorEmoji/NotoColorEmoji.ttf") format("truetype");
  src: url("../fonts/NotoColorEmoji/NotoColorEmoji.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/Inter/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../fonts/Inter/Inter-italic.var.woff2?v=3.19") format("woff2");
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.container {
  width: 65%;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--primary-color);
  flex: 1;
  border-radius: var(--border-radius);
  transition: width 0.4s;
  border: var(--border);
}

h1 {
  color: var(--text-color);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  border-bottom: var(--border);
}

th {
  border-top: var(--border);
}

th:first-child {
  border-left: var(--border);
}

th:last-child {
  border-right: var(--border);
}

td:first-child {
  width: 75%;
  word-break: break-all;
  border-left: var(--border);
}

td:last-child {
  border-right: var(--border);
}

tr:nth-child(odd) {
  background-color: var(--tertiary-color);
}

th {
  background-color: var(--secondary-color);
  text-align: left;
}

tr:hover {
  background-color: var(--secondary-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.icon {
  font-size: 20px;
  margin-right: 5px;
  font-family: var(--emoji-font);
}

.header-icon {
  font-size: inherit;
  margin-right: 5px;
  font-family: var(--emoji-font);
}

.version {
  position: relative;
  padding: 20px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.sortable td {
  color: var(--text-color);
}

.sortable thead th {
  background: var(--secondary-color);
  color: var(--text-color);
  font-weight: bold;
}

.sortable th:last-child {
  border-top-right-radius: 0;
}

.sortable th:first-child {
  border-top-left-radius: 0;
}

.sortable tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}

.sortable tbody tr:nth-child(even) {
  background-color: var(--tertiary-color);
}

.sortable tbody tr:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 1080px) {
  .container {
    width: 85%;
  }
}

#motd-banner {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px 0;
  text-align: center;
  position: relative;
  width: 100%;
  display: none;
  border-bottom: var(--border);
  word-break: break-all;
}

#motd-title {
  font-weight: bold;
}

#close-motd {
  background-color: var(--tertiary-color);
  border: var(--border);
  font-family: var(--emoji-font);
  border-radius: 50%;
  padding: 5px 5px;
  cursor: pointer;
  position: absolute;
  top: 11.5px;
  left: 10px;
}

#close-motd:hover {
  transform: scale(0.9);
  background-color: var(--secondary-color);
}

#upload-overlay {
  background-color: color-mix(in srgb, var(--primary-color), transparent 25%);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

#upload-icon {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--emoji-font);
}
