:root {
  --font-family: "Inter var", Arial, sans-serif;
  --emoji-font: "NotoEmoji", sans-serif;

  --shade: black;
  --primary-color: #f3f3f3;
  --secondary-color: color-mix(in srgb, var(--primary-color), var(--shade) 10%);
  --tertiary-color: color-mix(in srgb, var(--primary-color), var(--shade) 5%);

  --text-color: #373737;
  --link-color: #316dca;

  --border-radius: 10px;
  --border: 1px solid color-mix(in srgb, var(--primary-color), var(--shade) 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shade: white;
    --primary-color: #373737;
    --text-color: #f3f3f3;
  }
}

@font-face {
  font-family: "NotoEmoji";
  src: url("../fonts/NotoColorEmoji/NotoColorEmoji.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Inter/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("../fonts/Inter/Inter-italic.var.woff2?v=3.19") format("woff2");
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.container {
  width: 65%;
  margin: 2rem auto;
  padding: 20px;
  background-color: var(--primary-color);
  flex: 1;
  border-radius: var(--border-radius);
  transition: width 0.4s;
  border: var(--border);
}

h1 {
  color: var(--text-color);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  border-bottom: var(--border);
}

th {
  border-top: var(--border);
}

th:first-child {
  border-left: var(--border);
}

th:last-child {
  border-right: var(--border);
}

td:first-child {
  width: 75%;
  word-break: break-all;
  border-left: var(--border);
}

td:last-child {
  border-right: var(--border);
}

tr:nth-child(odd) {
  background-color: var(--tertiary-color);
}

th {
  background-color: var(--secondary-color);
  text-align: left;
}

.browser-radio {
  display: none;
}

tr:hover .browser-radio,
.browser-radio:checked {
  display: inline;
}

tr:hover {
  background-color: var(--secondary-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.icon {
  font-size: 1.5rem;
  margin-right: 5px;
  font-family: var(--emoji-font);
}

.header-icon {
  font-size: inherit;
  margin-right: 1rem;
  font-family: var(--emoji-font);
}

.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: var(--border);
  justify-content: space-between;
  align-items: center;
}

#main-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

#motd-banner {
  display: none;
  background-color: var(--tertiary-color);
}

.header-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.725rem 0;
  margin-left: 1.5rem;
  word-break: keep-all;
}

#home-button {
  cursor: pointer;
}

.header .buttons {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
}

.header button {
  font-family: var(--emoji-font);
  fill: var(--text-color);
  margin: 0.5rem;
  background-color: var(--tertiary-color);
  border: var(--border);
  border-radius: 50%;
  color: var(--text-color);
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  transition: all 0.2s;
}

.header button svg {
  height: 1.5rem;
  fill: var(--text-color);
}

.header button:hover {
  scale: 0.9;
  background-color: var(--secondary-color);
}

.version {
  position: relative;
  padding: 20px;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  .container {
    width: 85%;
  }
}

#motd-title {
  font-weight: bold;
  font-size: 1.25rem;
}

#motd-message {
  font-weight: normal;
  font-size: 1rem;
}

#motd-content {
  text-align: center;
  align-items: center;
  word-wrap: normal;
  margin: 0 1.5rem;
}

.close-button {
  background-color: var(--tertiary-color);
  border: var(--border);
  font-family: var(--emoji-font);
  border-radius: 50%;
  padding: 5px 5px;
  cursor: pointer;
  position: absolute;
  top: 11.5px;
  right: 1.5rem;
  pointer-events: all;
}

.close-button:hover {
  transform: scale(0.9);
  background-color: var(--secondary-color);
}

.overlay {
  background-color: var(--primary-color);
  border: var(--border);
  border-radius: var(--border-radius);
  pointer-events: none;
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.overlay-icon {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  font-family: var(--emoji-font);
}
