@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
}

#filename {
  margin: 0.5rem auto;
  font-weight: bold;
  font-size: 1rem;
}

#filename-container {
  background-color: var(--tertiary-color);
}

#editor {
  width: 100vw;
  flex: 1;
}

.ace_editor {
  background-color: var(--primary-color);
}

.ace_gutter-layer {
  background-color: var(--secondary-color);
  border-right: var(--border);
}

.ace_active-line {
  background-color: var(--tertiary-color) !important;
}

.ace_gutter-active-line {
  background-color: var(--tertiary-color) !important;
}

.ace_selection {
  background-color: var(--secondary-color) !important;
}

.ace_editor {
  font-family: "FiraCode", monospace;
}

.ace_editor.ace_autocomplete {
  border: var(--border);
  background: var(--secondary-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.ace_dark.ace_editor.ace_autocomplete {
  border: var(--border);
  background: var(--secondary-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.ace_selected {
  background-color: var(--tertiary-color);
}
