@charset "UTF-8";
.sortable thead th:not(.no-sort) {
  cursor: pointer;
}
.sortable thead th:not(.no-sort)::after,
.sortable thead th:not(.no-sort)::before {
  transition: color 0.1s ease-in-out;
  font-size: 1.2em;
  color: transparent;
}
.sortable thead th:not(.no-sort)::after {
  margin-left: 3px;
  content: "▸";
}
.sortable thead th:not(.no-sort):hover::after {
  color: inherit;
}
.sortable thead th:not(.no-sort).dir-d::after {
  color: inherit;
  content: "▾";
}
.sortable thead th:not(.no-sort).dir-u::after {
  color: inherit;
  content: "▴";
}
.sortable thead th:not(.no-sort).indicator-left::after {
  content: "";
}
.sortable thead th:not(.no-sort).indicator-left::before {
  margin-right: 3px;
  content: "▸";
}
.sortable thead th:not(.no-sort).indicator-left:hover::before {
  color: inherit;
}
.sortable thead th:not(.no-sort).indicator-left.dir-d::before {
  color: inherit;
  content: "▾";
}
.sortable thead th:not(.no-sort).indicator-left.dir-u::before {
  color: inherit;
  content: "▴";
}

.sortable td {
  color: var(--text-color);
}

.sortable thead th {
  background: var(--secondary-color);
  color: var(--text-color);
  font-weight: bold;
}

.sortable th:last-child {
  border-top-right-radius: 0;
}

.sortable th:first-child {
  border-top-left-radius: 0;
}

.sortable tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}

.sortable tbody tr:nth-child(even) {
  background-color: var(--tertiary-color);
}

.sortable tbody tr:hover {
  background-color: var(--secondary-color);
}
