{% import 'macros/fluent_icons.html' as icons%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/file/assets/favicon.svg" />
    <meta name="author" content="Krosseye" />
    <meta charset="UTF-8" />
    <title>{{ file_path.split('/')[-1] }} - Editor - {{ config.title }}</title>

    {% if is_prod %}
    <link rel="stylesheet" href="/file/assets/css/styles.min.css" />
    {% else %}
    <link rel="stylesheet" href="/file/assets/css/default.css" />
    <link rel="stylesheet" href="/file/assets/css/editor.css" />
    {% endif %}
  </head>
  <body>
    <header class="header" id="main-header">
      <nav class="buttons">
        <button title="Copy Link" id="editor-copy-button" onclick="copyLink()">
          {{ icons.link() }}
        </button>

        <button
          title="Download File"
          id="editor-download-button"
          onclick="downloadFile()"
        >
          {{ icons.arrow_download() }}
        </button>

        <button title="Save Changes" id="editor-save-button">
          {{ icons.save() }}
        </button>
      </nav>

      <div class="buttons">
        <button title="Toggle Fullscreen" onclick="toggleFullscreen()">
          {{ icons.arrow_maximize() }}
        </button>
        <button title="Close Editor" onclick="closeEditor();">
          {{ icons.dismiss() }}
        </button>
      </div>
    </header>

    <div class="header" id="filename-container">
      <span title="/{{ file_path }}" id="filename">
        {{ file_path.split('/')[-1] }}
      </span>
    </div>

    <main id="editor"></main>

    <div class="overlay" id="clipboard-overlay">
      <span class="overlay-icon">🔗➡️📋</span>
      <h2>Link copied to clipboard</h2>
    </div>

    <div class="overlay" id="download-overlay">
      <span class="overlay-icon">🌐➡️📂</span>
      <h2>Donwloading {{ file_path.split('/')[-1] }}</h2>
    </div>

    <div class="overlay" id="update-overlay">
      <span class="overlay-icon">📄➡️🌐</span>
      <h2>Changes saved successfully</h2>
    </div>

    <div id="flask-data" style="display: none">
      <span id="flask-data-title">{{ config.title }}</span>
      <span id="flask-data-file-path"> {{ file_path }} </span>
      <span id="flask-data-file-contents">{{ file_contents|safe }}</span>
    </div>

    <script
      src="/file/assets/js/ace/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/file/assets/js/ace/ext-modelist.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/file/assets/js/ace/ext-language_tools.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script src="/file/assets/js/setup-editor.js" defer></script>
  </body>
</html>
