<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.title }}</title>
    <link rel="icon" type="image/png" href="/assets/favicon.svg" />
    <link rel="stylesheet" href="/assets/css/default.min.css" />
    <script src="/assets/js/motd.min.js" defer></script>
  </head>
  <body id="body">
    <div id="flask-data" style="display: none">
      <span id="flask-data-path">{{ path }}</span>
      <span id="flask-data-title">{{ config.title }}</span>
    </div>
    <div id="upload-overlay">
      <span class="header-icon" id="upload-icon">🖱️➡️📂</span>
      <h2>Drop to upload your files</h2>
    </div>
    <div id="motd-banner" class="motd-banner-hidden">
      <span id="motd-title"></span>
      <span id="motd-message"></span>
      <button id="close-motd">❌</button>
    </div>
    <div class="container" id="drop-area">
      <h1><span class="header-icon">🌊</span>{{ config.title }}</h1>
      <h2>
        / {% set path_parts = path.split('/') %} {% for i in
        range(path_parts|length) %} {% set folder_path =
        '/'.join(path_parts[:i+1]) %} {% if i == path_parts|length - 1 %} {{
        path_parts[i] }} {% else %}
        <a
          class="directory"
          href="{{ url_for('files_route', path=folder_path) }}"
          >{{ path_parts[i] }}</a
        >
        / {% endif %} {% endfor %}
      </h2>
      <table class="sortable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td data-sort="{{ file.name }}">
              <span class="icon">{{ file.icon }}</span>
              {% if file.is_dir %}
              <a
                href="{{ url_for('files_route', path=path + '/' + file.name) }}"
                target="_self"
                >{{ file.name }}</a
              >
              {% else %}
              <a
                href="{{ url_for('files_route', path=path + '/' + file.name) }}"
                target="_blank"
                >{{ file.name }}</a
              >
              {% endif %}
            </td>
            <td data-sort="{{ file.size }}">{{ file.size_str }}</td>
            <td>{{ file.modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer class="version">
      <span class="icon">🚀</span>Version: {{ version }}
    </footer>
  </body>
  <link rel="stylesheet" href="/assets/css/sortable-base.min.css" />
  <script src="/assets/js/sortable.min.js" defer></script>
  <script src="/assets/js/drag-n-drop.min.js" defer></script>
</html>
